In [1]:
import pandas as pd
pd.read_csv("DRCA_latency.csv")

    bit_width  total_latency_ns   tests
0           1            275145  100000
1           2            501355  100000
2           3            734953  100000
3           4            958991  100000
4           5           1175461  100000
5           6           1385595  100000
6           7           1592017  100000
7           8           1795609  100000
8           9           1997341  100000
9          10           2198725  100000
10         11           2399209  100000
11         12           2599559  100000
12         13           2799917  100000
13         14           2999911  100000
14         15           3199937  100000
15         16           3400001  100000
16         17           3600001  100000
17         18           3800001  100000
18         19           4000001  100000
19         20           4200001  100000
20         21           4400001  100000
21         22           4600001  100000
22         23           4800001  100000
23         24           5000001  100000
24         25           5200001  100000
25         26           5400001  100000
26         27           5600001  100000
27         28           5800001  100000
28         29           6000001  100000
29         30           6200001  100000
30         31           6400001  100000
31         32           6600001  100000